.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

body {
  background-color: var(--background-color)
}

:root {
  --background-color: rgb(232, 233, 240);
  --accent-color: pink;
  --corner-radius: 6px;
}